{{set . "title" "Dynamic Debugger Configuration"}}
{{template "header.html" .}}

<form method="POST">
  <div id="config_main">
    {{ range $name, $breakpoint := .config.Breakpoints }}
    <div class="config">
      <h2>
        <input type="checkbox" name="breakpoints[{{ $name }}].Enabled" {{ if $breakpoint.Enabled }}checked{{ end }} />
        {{ $name }}
        <a href="#nogo" class="breakpoint_remove">⛔</a>
      </h2>
      <div class="config_content">
        <div class="return">
          <div class="return_options">
            <div>
              <label>Return value</label>
              <input type="radio" name="breakpoints[{{ $name }}].ReturnOption" value="return"
                {{ if not $breakpoint.IsReturnCode  }}checked{{ end }} />
              <input type="text" name="breakpoints[{{ $name }}].Return" value="{{ $breakpoint.Return }}" />
            </div>
            <div>
              <label>Return code</label> <input type="radio" name="breakpoints[{{ $name }}].ReturnOption"
                value="return_code" {{ if $breakpoint.IsReturnCode  }}checked{{ end }} />
              <input type="text" name="breakpoints[{{ $name }}].ReturnCode" value="{{ $breakpoint.ReturnCode }}" />
            </div>
          </div>
          <div class=" return_call">
            <label>Return calls</label>
            <a href="#nogo" xattr_with_name="breakpoints[{{ $name }}].ReturnCall[]" class="list_add">[+]</a>
            <ul>
              {{ range $breakpoint.ReturnCall }}
              <li>
                <input type="text" value="{{ . }}" name="breakpoints[{{ $name }}].ReturnCall[]" />
                <a class="list_remove" href="#nogo">⛔</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="pre_call">
          <label>Pre call:</label>
          <a href="#nogo" xattr_with_name="breakpoints[{{ $name }}].PreCall[]" class="list_add">[+]</a>
          <ul>
            {{ range $breakpoint.PreCall }}
            <li>
              <input type="text" value="{{ . }}" name="breakpoints[{{ $name }}].PreCall[]" />
              <a class="list_remove" href="#nogo">⛔</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="post_call">
          <label>Post call</label>
          <a href="#nogo" xattr_with_name="breakpoints[{{ $name }}].PostCall[]" class="list_add">[+]</a>
          <ul>
            {{ range $breakpoint.PostCall }}
            <li>
              <input type="text" value="{{ . }}" name="breakpoints[{{ $name }}].PostCall[]" />
              <a class="list_remove" href="#nogo">⛔</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    {{end}}
  </div>

  <input type="submit" value="Save" />
</form>

<br />

<form method="POST" action="/add">
  <input type="text" value="" name="name" />
  <input type="submit" value="Add breakpoint" />
</form>


<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}