{{set . "title" "Home"}}
{{template "header.html" .}}

<h1>Dynamic Debugger Configuration</h1>


<form method="POST">
  <input type="submit" value="Save" />

  <div id="config_main">
    {{ range $name, $breakpoint := .config.Breakpoints }}
    <div class="config">
      <h2>{{ $name }}</h2>
      <div class="enabled">
        Enabled:
        <input type="checkbox" name="breakpoints[{{ $name }}].Enabled" {{ if $breakpoint.Enabled }}checked{{ end }} />
      </div>
      <div class="return">
        <div class="return_options">
          <div>
            Return value: <input type="radio" name="breakpoints[{{ $name }}].ReturnOption" value="return"
              {{ if not $breakpoint.IsReturnCode  }}checked{{ end }} />
            <input type="text" name="breakpoints[{{ $name }}].Return" value="{{ $breakpoint.Return }}" />
          </div>
          <div>
            Return code: <input type="radio" name="breakpoints[{{ $name }}].ReturnOption" value="return_code"
              {{ if $breakpoint.IsReturnCode  }}checked{{ end }} />
            <input type="text" name="breakpoints[{{ $name }}].ReturnCode" value="{{ $breakpoint.ReturnCode }}" />
          </div>
        </div>
        <div class=" return_call">
          Return calls:
          <ul>
            {{ range $breakpoint.ReturnCall }}
            <li>
              <input type="text" value="{{ . }}" name="breakpoints[{{ $name }}].ReturnCall[]" />
              <a class="list_remove" href="#nogo">[remove]</a>
            </li>
            {{ end }}
          </ul>
          <a href="#nogo" xattr_with_name="breakpoints[{{ $name }}].ReturnCall[]" class="list_add">[add]</a>
        </div>
      </div>
      <div class="pre_call">
        Pre call:
        <ul>
          {{ range $breakpoint.PreCall }}
          <li>
            <input type="text" value="{{ . }}" name="breakpoints[{{ $name }}].PreCall[]" />
            <a class="list_remove" href="#nogo">[remove]</a>
          </li>
          {{ end }}
        </ul>
        <a href="#nogo" xattr_with_name="breakpoints[{{ $name }}].PreCall[]" class="list_add">[add]</a>
      </div>
      <div class="post_call">
        Post call:
        <ul>
          {{ range $breakpoint.PostCall }}
          <li>
            <input type="text" value="{{ . }}" name="breakpoints[{{ $name }}].PostCall[]" />
            <a class="list_remove" href="#nogo">[remove]</a>
          </li>
          {{ end }}
        </ul>
        <a href="#nogo" xattr_with_name="breakpoints[{{ $name }}].PostCall[]" class="list_add">[add]</a>
      </div>
    </div>
    {{end}}
  </div>

  <input type="submit" value="Save" />
</form>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}